@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.valentine-container {
  background-color: #fbcfe8; /* bg-pink-200 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 2.5rem;
  gap: 1rem;
}
